/.vscode
/main.py
/multi.py
/New folder
/notes
/obs_controller.py
/output.ranked
/reglist.txt
/reqeustsfds.py
/TournamentToolv0.12.1.exe
/trx.py
/__pycache__
/LeagueOBSBotToken.txt
/spectate_match.json